/* GENERAL*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  //letter-spacing: 1px;
  line-height: 1.5;
}

#menu {
	padding-bottom: 25px;
}
#menu #logo{
	padding-bottom: 10px;
}

#about,
#services,
#target,
#partner,
#contacts {
	padding: 100px, 0, 100px, 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

#about {
	line-height: 1.5;
}

/* HEADER */
/*#cover {
	position: relative;
	width: 100%;
	min-height: 400px;
	background-size: cover;
	background-position: center;
	background-image: url('/img/cover/AS001.jpg');
	text-align: center;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;
}

#cover {
	position: relative;
	height: 250px;
}*/

[data-slides] {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-image: url('/img/cover/photo001.jpg');
	text-align: center;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;
	transition: background-image 2s ease;
}

/* Use additional CSS to control the `height` of `[data-slides]`, like so: */

#cover { height: 300px; }
@media all and (min-width: 48em) {
	#cover { height: 400px; }
}

#cover h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 48px;
}

#menuItems a{
	color:black;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
	font-size: 12px;
	border: 2px solid transparent;
}

#menuItems a:hover{
	border: 2px solid black;
	text-decoration: none;
}

.no-padding{padding:0;}
.no-gutter>[class*=col-]{padding-right:0;padding-left:0}
.service-foto{position:relative;display:block;max-width:650px;margin:0 auto}

#social-networks {
	padding-bottom: 50px;
}

#contacts,
footer {
	background-color: #f7f7f7;
}