<section id="contacts">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="group-contacts">
                    <p><b>Euvoo</b> <br>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 
                        Rua Paulo Quintela <br>
                        3030-393 Coimbra
                    </p>
                    <p><b>Horário: </b><br>
                    Segunda a Sexta<br>10:00-12:30 | 14:30-18:30</p>
                    <p>RNAVT: 7337</p>      
                </div>    
            </div>
            <div class="col-sm-4">
                <div class="group-contacts">
                    <p>
                        <b>Contactos:</b><br>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:geral@euvoo.pt"> geral@euvoo.pt</a><br>
                        <i class="fa fa-phone"></i><a href="tel:00351239197401"> (+351) 239 197 401</a><br>
                        <i class="fa fa-phone"></i><a href="tel:00351913389953"> (+351) 91 420 05 01</a>
                    </p>
                </div>
                <div class="group-contacts">
                    <p>
                        <b>Atendimento em Língua Gestual Portuguesa: </b><br>
                        <i class="fa fa-skype"></i> <i class="fa fa-video-camera"></i><a href="mailto:videochamada@euvoo.pt"> videochamada@euvoo.pt</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="group-contacts">
                    <p>
                        <b>Lista de correio:</b><br>
                        Adira à nossa lista de correio para se manter a par das novidades!
                    </p>
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

                    <form action="//daquiparali.us16.list-manage.com/subscribe/post?u=8877f4dd698c3fe6ea2c701d2&amp;id=a07a85c82b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" rel="noopener noreferrer" novalidate>
                      <div class="input-group">  
                          <div class="form-group" id="mc_embed_signup_scroll">
                            <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Email" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8877f4dd698c3fe6ea2c701d2_a07a85c82b" tabindex="-1" value=""></div>
                          </div>
                          <span class="input-group-btn">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-customize">OK</button>
                          </span>
                    </form>
                    <!--End mc_embed_signup-->
                </div>
                <div class="group-contacts">
                    <a href="https://www.livroreclamacoes.pt/" target="_blank" rel="noopener noreferrer">
                        <img src='/assets/img/livro_reclamacoes.png' alt="Livro de Reclamações" class="complain-book" />
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>