<section id="social-networks">
        <div class="container">

        	<div class="row" id="insta">
                <div class="col-sm-9">
                    <div class="row top">
                        <div class="col-xs-4 col-sm-2 text-center" id="insta-logo">
                            <img src="/assets/img/logoDPL_square.jpg">
                        </div>
                        <div class="col-xs-8 col-sm-4 bottom-column">
                            <p><b>DaquiparaLi</b></p>
                            <p>Agência de Viagens para TODOS</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 bottom-column text-center">
                            <a href="https://www.instagram.com/daquiparali/" target="_blank" class="btn btn-outline">
                                <i class="fa fa-instagram fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;Siga-nos
                            </a>
                        </div>
                    </div>
                    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="//lightwidget.com/widgets/8272d895ef5a5d47ae7688ff111de0ca.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                    <!-- LightWidget WIDGET -->
        		</div>
                <div class="col-sm-3 text-left side">
                    <a href="https://www.facebook.com/DaquiparaLi-1954787778076158/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> &nbsp;&nbsp;
                    <a href="https://www.instagram.com/daquiparali/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> &nbsp;&nbsp;
                    <a href="" target="_blank"><i class="fa fa-twitter fa-2x hidden" aria-hidden="true"></i></a> &nbsp;&nbsp;
                    <a href="" target="_blank"><i class="fa fa-linkedin fa-2x hidden" aria-hidden="true"></i></a> 
                </div>
                
        	</div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-left insta-hashtag">#viagensparatodos</p>
                </div>
            </div>
        </div>
    </section>