<!-- Footer -->
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-muted">
                Feito com <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> por <a href="http://www.inescoelho.info/" target="_blank">Inês Coelho</a>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/libraries/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/libraries/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/libraries/scrollreveal/scrollreveal.min.js"></script>
<script src="/libraries/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/index.js"></script>