<!-- Footer -->
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-muted">
                <p><small>Feito com <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> por <a href="http://www.inescoelho.info/" target="_blank">Inês Coelho</a></small></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/assets/libraries/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/libraries/bootstrap/js/bootstrap.min.js"></script>

<!-- Theme JavaScript -->
<script src="/assets/js/header.js"></script>