<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="Eu Voo" />
<meta property="og:title" content="Eu Voo" />
<meta property="og:description" content="Aqui, viajar é para todos!" />
<meta property="og:image" content="/assets/img/euvoo.png" />
<meta property="og:url" content="euvoo.pt" />
<meta property="og:type" content="site" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<title>Eu voo</title>

<!-- Bootstrap Core CSS -->
<link
  href="/assets/libraries/bootstrap/css/bootstrap.min.css"
  rel="stylesheet"
/>

<!-- Custom Fonts -->
<link
  href="/assets/libraries/font-awesome/css/font-awesome.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />

<!-- Theme CSS -->
<link href="/assets/css/general.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/about.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/header.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/footer.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/index.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/information.css" rel="stylesheet" type="text/css" />

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-106768661-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-106768661-1");
</script>
