<section id="menu">
    <div class="container"> 
        <div class="row" id="logo">
        	<a href="/">
            	<img src="/img/logoDPL.png" class="img-responsive center-block" width="160" alt="DaquiparaLi logo">
            </a>
        </div>
        <div class="row" id="menuItems">
        	<div class="col-md-8 col-md-offset-2">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="/about/team/" class="btn btn-link" role="button">Sobre nós</a>
					<a href="#" class="btn btn-link" role="button">Serviços</a>
					<a href="/information/" class="btn btn-link" role="button">Dicas Úteis</a>
					<a href="https://medium.com/@daquiparalimarketing" class="btn btn-link" role="button" target="_blank">Blog</a>
					<a href="#contacts" class="btn btn-link" role="button">Contactos</a>
				</div>
        	<div>
        </div>
    </div>
</section>

<section id="cover" data-slides='[
        "/img/cover/photo002.jpg",
        "/img/cover/photo003.jpg",
        "/img/cover/photo004.jpg",
        "/img/cover/photo005.jpg",
        "/img/cover/photo006.jpg",
        "/img/cover/photo007.jpg",
        "/img/cover/photo008.jpg",
        "/img/cover/photo009.jpg",
        "/img/cover/photo010.jpg",
        "/img/cover/photo011.jpg",
        "/img/cover/photo012.jpg",
        "/img/cover/photo013.jpg",
        "/img/cover/photo014.jpg"
    ]'>
    <h1 id="coverHeading">Viajar é para todos. <i class="fa fa-plane" aria-hidden="true"></i></h1>
</section>