<section id="menu">
    <div class="container"> 
        <div class="row" id="logo">
        	<a href="/">
            	<img src="/assets/img/logoDPL.png" class="img-responsive center-block" width="160" alt="DaquiparaLi logo">
            </a>
        </div>
        <div class="row" id="menuItems">
        	<div class="col-md-8 col-md-offset-2 text-center">

				<a href="/about/team/" class="btn btn-link" role="button">Sobre nós</a>
				<a href="/services" class="btn btn-link" role="button">Serviços</a>
				<a href="/information/" class="btn btn-link" role="button">Dicas Úteis</a>
				<a href="https://medium.com/@daquiparalimarketing" class="btn btn-link" role="button" target="_blank">Blog</a>
				<a href="#contacts" class="btn btn-link" role="button">Contactos</a>
				
            </div>
        </div>
    </div>
</section>

<section id="list-social-networks">
    <p>
        <a href="https://www.facebook.com/DaquiparaLi-1954787778076158/" target="_blank"><i class="fa fa-facebook fa-1x"></i></a><br>
        <a href="https://www.instagram.com/daquiparali/" target="_blank"><i class="fa fa-instagram fa-1x"></i></a><br>
        <a href="" target="_blank"><i class="fa fa-linkedin fa-1x" aria-hidden="true"></i></i></a><br>
    </p>
</section>

<section id="cover" data-slides='[
        "/assets/img/cover/photo001.jpg",
        "/assets/img/cover/photo002.jpg",
        "/assets/img/cover/photo003.jpg",
        "/assets/img/cover/photo004.jpg",
        "/assets/img/cover/photo005.jpg",
        "/assets/img/cover/photo006.jpg",
        "/assets/img/cover/photo007.jpg",
        "/assets/img/cover/photo008.jpg",
        "/assets/img/cover/photo009.jpg",
        "/assets/img/cover/photo010.jpg",
        "/assets/img/cover/photo011.jpg",
        "/assets/img/cover/photo012.jpg",
        "/assets/img/cover/photo013.jpg",
        "/assets/img/cover/photo014.jpg"
    ]'>
    <h1 id="coverHeading">Viajar é para todos. <i class="fa fa-plane" aria-hidden="true"></i></h1>
</section>