#social-networks,
#contacts,
footer {
	background-color: #f7f7f7;
}

#social-networks {
	padding-top: 50px;
	padding-bottom: 10px;
}
#contacts {
	padding-bottom: 20px;
}

#social-networks #insta{
	position: relative;
}

#social-networks .top {
	padding-bottom: 10px;
	display: table;
}

#social-networks #insta-logo img{
	border-radius: 50%;
	width: 85px;
	height: 85px;
	border: 1px solid lightgrey;
}

#social-networks  .insta-hashtag{
	//font-family: 'Satisfy', cursive;
	font-size: 26px;
	color: grey;
	margin:0;
}
@media (min-width: 440px) {
	#social-networks  .insta-hashtag{
		font-size: 40px;
	}
}

@media (min-width: 768px) {
	#social-networks .side {
	    position: absolute;
	    bottom: 0px;
	    right: 0;
	}
	#social-networks .bottom-column
	{
	    float: none;
	    display: table-cell;
	    vertical-align: bottom;
	}
}



#contacts .group-contacts {
	padding-top: 10px;
}