/* GENERAL*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  color: black;
}

/*LINKS*/
a {
	color: black;
}
a:hover {
	color: grey;
}

/*TEXT*/
@media (min-width: 768px) {
	.content h1{
		font-size: 45px;
		font-style: bold;
		padding-bottom: 20px;
	}
	.content p,
	.content ul li,
	.content ol li{
		font-size: 16px;
		text-align: justify;
	}
}

/*BUTTON*/
.btn-outline {
	background-color: white;
	border: 1px solid lightgrey;
	text-decoration: none;
}
.btn-outline:hover {
	border: 1px solid black;
	text-decoration: none;
	font-weight: 800;
}

/*MAIN*/
/*.main {
	padding-top: 50px;
	padding-bottom: 50px;
}*/