/* GENERAL*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  color: black;
}
a {
	color: black;
}
a:hover {
	color: grey;
}

@media (min-width: 768px) {
	h1.title{
		font-size: 45px;
		font-style: bold;
		padding-bottom: 20px;
	}
	p.bigger,
	ul.bigger li,
	ol.bigger li{
		font-size: 16px;
	}
	p.bigger2 {
		font-size: 18px;
	}
}

.btn-outline {
	background-color: white;
	border: 1px solid grey;
	text-decoration: none;
}
.btn-outline:hover {
	border: 2px solid black;
	text-decoration: none;
	font-weight: 800;
}

#partner {
	padding-top: 50px;
	padding-bottom: 50px;
}