<section id="menu">
    <div class="container"> 
        <div class="row" id="logo">
            <img src="/assets/img/logoDPL.png" class="img-responsive center-block" width="160" alt="DaquiparaLi logo">
        </div>
        <div class="row" id="menuItems">
        	<div class="col-md-8 col-md-offset-2 text-center">
                <a href="/" class="btn btn-link {% if page.url == '/' %}active{% endif %}" role="button">Serviços</a>
				<a href="/about/" class="btn btn-link {% if page.url == '/about/' %}active{% endif %}" role="button">Sobre nós</a>
				<a href="/information/" class="btn btn-link {% if page.url == '/information/' %}active{% endif %}" role="button">Dicas Úteis</a>
				<a href="https://medium.com/@daquiparalimarketing" class="btn btn-link" role="button" target="_blank">Blog</a>
				<a href="#contacts" class="btn btn-link" role="button">Contactos</a>
            </div>
        </div>
    </div>
</section>