<section id="list-social-networks">
    <p>
        <a href="https://www.facebook.com/euvoosemlimites/" target="_blank"><i class="fa fa-facebook fa-1x"></i></a><br>
        <a href="https://www.instagram.com/euvoosemlimites/" target="_blank"><i class="fa fa-instagram fa-1x"></i></a><br>
        <a href="" target="_blank"><i class="fa fa-twitter fa-1x hidden" aria-hidden="true"></i></i></a><br>
    </p>
</section>

<section id="cover" data-slides='[
        "/assets/img/cover/photo001.jpg",
        "/assets/img/cover/photo002.jpg",
        "/assets/img/cover/photo003.jpg",
        "/assets/img/cover/photo004.jpg",
        "/assets/img/cover/photo005.jpg",
        "/assets/img/cover/photo006.jpg",
        "/assets/img/cover/photo007.jpg",
        "/assets/img/cover/photo008.jpg",
        "/assets/img/cover/photo009.jpg",
        "/assets/img/cover/photo010.jpg",
        "/assets/img/cover/photo011.jpg",
        "/assets/img/cover/photo012.jpg",
        "/assets/img/cover/photo013.jpg",
        "/assets/img/cover/photo014.jpg"
    ]'>
    <h1 id="coverHeading">Viajar é para todos. <i class="fa fa-plane" aria-hidden="true"></i></h1>
</section>