<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    {% include head.html %}

  </head>
  <body>
    <header id="header" class="header" role="banner">

      {% include navigation.liquid %}

    </header><!-- /header -->
    <main role="main" class="content">

      {{ content }}

    </main>

    {% include contacts.html %}

    {% include footer.html %}

  </body>
</html>
